{% extends "base.html" %}
{% import "_macro.html" as ui %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}恋爱日记{% endblock %}
{% block style %}
    <link href={{ url_for("static",filename="css/bootstrap.min.css")}} rel="stylesheet">
{% endblock %}
{% block content %}
    {{ ui.navbar() }}

    <div class="container">
     {{ ui.pad() }}
     {{  ui.myCarousel() }}
    </div>

    {{ ui.login() }}

    {{ ui.register() }}
{% endblock %}
{% block script %}
    <script src={{ url_for("static",filename="js/jquery-3.2.1.min.js")}}></script>
    <script src={{ url_for("static",filename="js/bootstrap.min.js")}}></script>
    <script src={{ url_for("static",filename="js/myapp.js")}}></script>
{% endblock %}